
body{
    margin: 0;
    top:0px;
    
   
}
.navig{
    margin: 0;
    width: 100%;
    height:78px;
    background-color: black;
    top:0px;
    
    position: relative;
   
}
li{
    display: inline;
    text-decoration: none;
    
    position: absolute;
    
}
.outer{
    left:0px;
}
.image{
    width:100px;
    height: 75px;
    float: left;
    margin: 0px;
    border:1px solid white;
    border-radius: 50%;
    margin-right: 100px;
    position: absolute;
    left: 0px;
}

li a{
    
    text-decoration: none;
    color: white;
    

}

.name .payments{
    padding: 20px;
    
}
.name .logout:hover{
    background-color: white;
    color: black;
    padding: 10px;
}


 
@media only screen and (max-width:5000px){
.name{
    top:30px;
    left: 90%;
}


}
@media only screen and (max-width:2000px){
    .name{
        top:30px;
        left: 75%;
    }
    
    
    
    }
@media only screen and (max-width:1000px){
        .name{
            top:30px;
            left: 70%;
        }
        
        
        
        }    
@media only screen and (max-width:900px){
    .name{
            top:30px;
            left: 60%;
        }
            
            
            
    }   
    @media only screen and (max-width:800px){
        .name{
                top:30px;
                left: 50%;
            }
                
                
                
        }                      
        @media only screen and (max-width:700px){
            .name{
                    top:30px;
                    left: 60%;
                }
                    
                    
                    
            }              

    
    
    

.logoname{
    top:20px;
    left:  120px;
    font-size: 30px ;
  color: white;
margin-left: 0px;
     
    
 }

 